In [2]:
import pandas
df = pandas.read_csv("DataForTesting/supermarkets.csv")

In [3]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
df["Complete Location info"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]

In [5]:
df

,ID,Address,City,State,Country,Name,Employees,Complete Location info
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [6]:
df_t = df.T

In [7]:
df_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Complete Location info,"3666 21st St, San Francisco, CA 94114, USA","735 Dolores St, San Francisco, CA 94119, USA","332 Hill St, San Francisco, California 94114, USA","3995 23rd St, San Francisco, CA 94114, USA","1056 Sanchez St, San Francisco, California, USA","551 Alvarado St, San Francisco, CA 94114, USA"

In [8]:
df_t[6] = [7, "261 Columbus Ave North Beach","San Francisco","CA 94133-4586","USA","City Lights Booksellers",10,"261 Columbus Ave North Beach, San Francisco, CA 94133-4586, USA"]

In [9]:
df_t

,0,1,2,3,4,5,6
ID,1,2,3,4,5,6,7
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,261 Columbus Ave North Beach
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,CA 94133-4586
Country,USA,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,City Lights Booksellers
Employees,8,15,25,10,12,20,10
Complete Location info,"3666 21st St, San Francisco, CA 94114, USA","735 Dolores St, San Francisco, CA 94119, USA","332 Hill St, San Francisco, California 94114, USA","3995 23rd St, San Francisco, CA 94114, USA","1056 Sanchez St, San Francisco, California, USA","551 Alvarado St, San Francisco, CA 94114, USA","261 Columbus Ave North Beach, San Francisco, C..."

In [10]:
df = df_t.T

In [11]:
df

,ID,Address,City,State,Country,Name,Employees,Complete Location info
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"
6,7,261 Columbus Ave North Beach,San Francisco,CA 94133-4586,USA,City Lights Booksellers,10,"261 Columbus Ave North Beach, San Francisco, C..."

In [12]:
df.iloc[4:6,1:4]

           Address           City       State
4  1056 Sanchez St  San Francisco  California
5  551 Alvarado St  San Francisco    CA 94114

In [13]:
list(df.iloc[4:6,1:4])

['Address', 'City', 'State']

In [14]:
df["Address"]

0                    3666 21st St
1                  735 Dolores St
2                     332 Hill St
3                    3995 23rd St
4                 1056 Sanchez St
5                 551 Alvarado St
6    261 Columbus Ave North Beach
Name: Address, dtype: object

In [19]:
df.loc[5:,"City":]

,City,State,Country,Name,Employees,Complete Location info
5,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"
6,San Francisco,CA 94133-4586,USA,City Lights Booksellers,10,"261 Columbus Ave North Beach, San Francisco, C..."

In [20]:
df.shape()

TypeError: 'tuple' object is not callable

In [21]:
df.shape(1)

TypeError: 'tuple' object is not callable

In [22]:
df.shape[1]

8

In [23]:
df.shape[]

SyntaxError: invalid syntax (<ipython-input-23-973b942e62b2>, line 1)

In [26]:
df.shape[0]

7

In [29]:
from geopy.geocoders import ArcGIS

In [30]:
n = ArcGIS()

In [31]:
loc = n.geocode("Strada Antica di Andorno, Biella, 13900")

In [32]:
loc

Location(Strada Antica di Andorno, 13900, Biella, (45.57778410311704, 8.05452589874539, 0.0))

In [33]:
loc.Address

AttributeError: 'Location' object has no attribute 'Address'

In [34]:
help(loc)

Help on Location in module geopy.location object:

class Location(builtins.object)
 |  Location(address='', point=None, raw=None)
 |
 |  Contains a parsed geocoder response. Can be iterated over as
 |  ``(location<String>, (latitude<float>, longitude<Float))``.
 |  Or one can access the properties ``address``, ``latitude``,
 |  ``longitude``, or ``raw``. The last
 |  is a dictionary of the geocoder's response for this item.
 |
 |  Methods defined here:
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __getitem__(self, index)
 |      Backwards compatibility with geopy<0.98 tuples.
 |
 |  __getstate__(self)
 |
 |  __init__(self, address='', point=None, raw=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |
 |  __len__(self)
 |
 |  __ne__(self, other)
 |      Return self!=value.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __str__ = __unicode__(self)
 |
 |  __unicode__(self)
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  address
 |      Location as a formatted string returned by the geocoder or constructed
 |      by geopy, depending on the service.
 |
 |      :rtype: unicode
 |
 |  altitude
 |      Location's altitude.
 |
 |      :rtype: float or None
 |
 |  latitude
 |      Location's latitude.
 |
 |      :rtype: float or None
 |
 |  longitude
 |      Location's longitude.
 |
 |      :rtype: float or None
 |
 |  point
 |      :class:`geopy.point.Point` instance representing the location's
 |      latitude, longitude, and altitude.
 |
 |      :rtype: :class:`geopy.point.Point` or None
 |
 |  raw
 |      Location's raw, unparsed geocoder response. For details on this,
 |      consult the service's documentation.
 |
 |      :rtype: dict or None
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [45]:
loc.address

'Strada Antica di Andorno, 13900, Biella'

In [46]:
df

,ID,Address,City,State,Country,Name,Employees,Complete Location info,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9..."
6,7,261 Columbus Ave North Beach,San Francisco,CA 94133-4586,USA,City Lights Booksellers,10,"261 Columbus Ave North Beach, San Francisco, C...","(261 Columbus Ave, San Francisco, California, ..."

In [47]:
df.drop("Coordinates",1)

,ID,Address,City,State,Country,Name,Employees,Complete Location info
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"
6,7,261 Columbus Ave North Beach,San Francisco,CA 94133-4586,USA,City Lights Booksellers,10,"261 Columbus Ave North Beach, San Francisco, C..."

In [48]:
df

,ID,Address,City,State,Country,Name,Employees,Complete Location info,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9..."
6,7,261 Columbus Ave North Beach,San Francisco,CA 94133-4586,USA,City Lights Booksellers,10,"261 Columbus Ave North Beach, San Francisco, C...","(261 Columbus Ave, San Francisco, California, ..."

In [49]:
df.drop("Coordinates",1,inplace=True)

In [50]:
df

,ID,Address,City,State,Country,Name,Employees,Complete Location info
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"
6,7,261 Columbus Ave North Beach,San Francisco,CA 94133-4586,USA,City Lights Booksellers,10,"261 Columbus Ave North Beach, San Francisco, C..."

In [57]:
df["Latitude"] = df["Address"].apply(n.geocode).apply(lambda x: x.latitude)

In [59]:
df["Longitude"] = df["Address"].apply(n.geocode).apply(lambda x: x.longitude)

In [60]:
df

,ID,Address,City,State,Country,Name,Employees,Complete Location info,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA",41.609561,-8.736949
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA",37.654810,-109.041964
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA",53.883330,-8.083330
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA",-38.599070,145.596040
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA",19.230730,-69.612950
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA",23.382180,-102.396070
6,7,261 Columbus Ave North Beach,San Francisco,CA 94133-4586,USA,City Lights Booksellers,10,"261 Columbus Ave North Beach, San Francisco, C...",37.797873,-122.406734

In [61]:
df_manual = {"Nome":["Marco","Luigi","Giorgio"],"Cognome":["Sarli","Guadagnuolo","Ferragni"]}

In [62]:
df_manual

{'Nome': ['Marco', 'Luigi', 'Giorgio'],
 'Cognome': ['Sarli', 'Guadagnuolo', 'Ferragni']}

In [70]:
df_manual.values()

dict_values([['Marco', 'Luigi', 'Giorgio'], ['Sarli', 'Guadagnuolo', 'Ferragni']])